<div class="container">
  <form (ngSubmit)="login()" class="form-outline" [formGroup]="loginForm">
    <!--username section-->
    <div class="row">
      <div class="input-section col-md-6">
        <label>
          UserName
          <input type="text" formControlName="nameControl" />
          <span class="error-text">
            <p class="h6" *ngIf="loginForm.get('nameControl').errors?.minlength && (loginForm.get('nameControl').touched || loginForm.get('nameControl').dirty)">make it atleast 5 chars</p>
            <p class="h6" *ngIf="loginForm.get('nameControl').errors?.required && (loginForm.get('nameControl').touched || loginForm.get('nameControl').dirty)">Username is invalid</p>
          </span>
        </label>
      </div>
    </div>

    <div class="row">
      <!--password section-->
      <div class="input-section col-md-6">
        <label>
          Password
          <input type="password" formControlName="passControl" />
          <span class="error-text">
            <p class="h6" *ngIf="loginForm.get('passControl').errors?.required && (loginForm.get('passControl').touched || loginForm.get('passControl').dirty)">Password is empty</p>
            <p class="h6" *ngIf="loginForm.get('passControl').errors?.minlength && (loginForm.get('passControl').touched || loginForm.get('passControl').dirty)">make it atleast 6 chars</p>
          </span>
        </label>
      </div>
    </div>

    <!--button section-->
    <div class="row button-section">
      <button type="submit" class="btn btn-lg btn-success" [disabled]="loginForm.invalid" [ngClass]="{'red': loginForm.invalid}">Login</button>
    </div>
  </form>
</div>
<div class="major-error" *ngIf="errorMessage.active">
  <h3>{{errorMessage}}</h3>
</div>