<div class="container">
  <form (ngSubmit)="login" class="form-outline" [formGroup]="loginGroup">
    <!--username section-->
    <div class="row">
      <div class="input-section col-md-6">
        <label>
          UserName
          <input type="text" formControlName="nameControl" />
          <span class="error-text">
            <p class="h6">Username is empty/invalid</p>
          </span>
        </label>
      </div>
    </div>

    <div class="row">
      <!--password section-->
      <div class="input-section col-md-6">
        <label>
          Password
          <input type="text" formControlName="nameControl" />
          <span class="error-text">
            <p class="h6">Password is empty or invalid</p>
          </span>
        </label>
      </div>
    </div>

    <!--button section-->
    <div class="row button-section">
      <button type="submit" class="btn btn-lg btn-success">Login</button>
    </div>
  </form>
</div>